<!-- <footer>
  <div class="footer-content">
    
    <p>&copy; 2025 Padala Sai Mani Reddy. All Rights Reserved.</p>
    <div class="social-links">
      <!-- Add your social media links and icons here
    </div>
  </div>
</footer> -->


<footer>
  <div class="footer-content">
    <p>&copy; 2025 Padala Sai Mani Reddy. All Rights Reserved.</p>
    <div class="social-links">
      <!-- Your social media links and icons go here -->
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>