<div class="card-container">
<div class="flip-card" [class.flipped]="isFlipped">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="assets/images/1.jpeg" alt="Front Image"  >
        </div>
        <div class="flip-card-back">
           <img src="assets/images/2.jpeg" alt="Back Image"  >
        </div>
    </div>
</div>


<!-- card 2 -->
<div class="flip-card" [class.flipped]="isFlipped">
    <div class="flip-card-inner">
        <div class="flip-card-front">
                       <img src="assets/images/3.jpeg" alt="Front Image"  >

        </div>
        <div class="flip-card-back">
                      <img src="assets/images/4.jpeg" alt="Back Image"  >

        </div>
    </div>
</div>

<!-- card 3 -->
 <div class="flip-card" [class.flipped]="isFlipped">
    <div class="flip-card-inner">
        <div class="flip-card-front">
                      <img src="assets/images/5.jpeg" alt="Front Image"  >

        </div>
        <div class="flip-card-back">
                      <img src="assets/images/6.jpeg" alt="Back Image"  >

        </div>
    </div>
</div>

<!-- card 4 -->
 <div class="flip-card" [class.flipped]="isFlipped">
    <div class="flip-card-inner">
        <div class="flip-card-front">
                       <img src="assets/images/7.jpeg" alt="Front Image"  >

        </div>
        <div class="flip-card-back">
                     <img src="assets/images/8.jpeg" alt="Back Image"  >

        </div>
    </div>
</div>
</div>

